@model ProgressPacer.Models.Study

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Study</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSelfStudy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSelfStudy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelfStudyHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelfStudyHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemainingHrs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemainingHrs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
